<ion-content style="--overflow: hidden;">
  <div class="fondo" align="center" id="1">
        <div *ngIf="escaneoQR" (click)="onEscanearQR()">
          <ion-grid style="display: flex; flex-flow: column;position: center;height: 100%;">
            <ion-row style="flex-grow: 1;">
              <ion-col style=" width: 70%;"> 
                <ion-icon name="qr-code-outline" style="font-size: 260px;margin-top: 120px;"></ion-icon>                
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <label style="margin-bottom: 120px;font-size: 24px;font-weight: bold;">ESCANEAR QR DEL LOCAL</label>  
              </ion-col>
            </ion-row>
          </ion-grid>  
    
        </div>
      
        <div *ngIf="menuOpciones" style="height: 100%;">
          <div style="height: 100%;" align="center">               
                <ion-row style="flex-grow: 1; height: 45%; background-color: #8D2CE2; margin-left: 3%; margin-right: 3%; margin-bottom: 5%; margin-top: 5%;">
                  <div style="width: 100%;height: 100%;"  (click)="verEncuestas()">
                    <h2 style="width: 100%;height: 100%;margin-top: 40%;font-weight: bold;" align="center">
                      VER ENCUESTAS
                    </h2>     
                  </div>                                 
                </ion-row>
                <ion-row style="flex-grow: 1; height: 45%;background-color: #8D2CE2; margin-left: 3%; margin-right: 3%;">
                  <div style="width: 100%;height: 100%;" (click)="entrarListaEspera()">
                    <h2 style="width: 100%;height: 100%;margin-top: 40%;font-weight: bold;color: white;" align="center">
                      ENTRAR A LISTA DE ESPERA
                    </h2>   
                  </div>                                   
                </ion-row>     
          </div>
        </div>
  
        <div *ngIf="todasEncuestas" style="height: 100%; width: 100%;">
          <div>
            <ion-button expand="block" color="light" (click)="esconderEncuestas()">Volver</ion-button>
          </div>
          <app-chart-encuesta-clientes></app-chart-encuesta-clientes>
        </div> 
  
  <!--       <div *ngIf='esperaAsignacionMesa && this.usuarioActual.mesa == ""'>
          <ion-grid style="display: flex; flex-flow: column;position: center;">
            <ion-row style="flex-grow: 1;">
              <ion-col style=" width: 70%;"> 
                <img src="../../assets/Spinner.png" style="margin-top: 20%;" [ngClass]="{'loading' : this.loading}" *ngIf="loading"/>                                          
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <label style="margin-bottom: 120px;font-size: 30px;">Espere a que se le asigne una mesa...</label>  
              </ion-col>
            </ion-row>
          
          </ion-grid>  
        </div> -->
  
       
        <div *ngIf='mesa'>
          <!-- <div *ngIf='mesaAsignada && this.usuarioActual.mesa == ""'></div> -->
          <ion-grid style="display: flex; flex-flow: column;position: center;">
            <ion-row style="flex-grow: 1;">
              <ion-col>
                <label style="margin-bottom: 120px;font-size: 50px;">Su mesa es la número</label>  
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="width: 100%; margin-top: 15%;"> 
                <label style="margin-bottom: 120px;margin-top: 120px; font-size: 350px;">{{usuarioActual.mesa}}</label>                                      
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="width: 70%;"> 
                <ion-button expand="block" size="large" color="light" (click)="mostrarMenu()" style="--padding-top: 5%; --padding-bottom: 5%;">Escanear QR de la Mesa</ion-button>                                        
              </ion-col>
            </ion-row>
          </ion-grid>  
        </div>
        
        <div *ngIf="menu" style="height: 100%; width: 100%;">
            <app-lista-productos (atrasEvent)="atrasCaptura($event)"></app-lista-productos>
        </div> 
  
        <div *ngIf="menuOpcionesConfirma" style="height: 100%;">
          <div style="height: 100%;" align="center">               
                <ion-row style="flex-grow: 1; height: 30%; background-color: #8D2CE2; margin-left: 3%; margin-right: 3%; margin-bottom: 5%; margin-top: 5%;">
                  <div style="width: 100%;height: 100%;"  (click)="irJuegos()">
                    <h2 style="width: 100%; font-weight: bold; margin-top: 30%;" align="center">
                      ENTRAR A LOS JUEGOS
                    </h2>     
                  </div>                                 
                </ion-row>
                <ion-row style="flex-grow: 1; height: 30%; background-color: #8D2CE2; margin-left: 3%; margin-right: 3%; margin-bottom: 5%;">
                  <div style="width: 100%;height: 100%;" (click)="mostrarEncuesta()">
                    <h2 style="width: 100%;font-weight: bold; margin-top: 30%; color: white;" align="center">
                      COMPLETAR ENCUESTA
                    </h2>   
                  </div>                                   
                </ion-row>     
                <ion-row style="flex-grow: 1; height: 30%; background-color: #8D2CE2; margin-left: 3%; margin-right: 3%;">
                  <div style="width: 100%;height: 100%;" (click)="mostrarEstadoPedido()">
                    <h2 style="width: 100%; font-weight: bold; margin-top: 30%; color: white;" align="center">
                      VER ESTADO DEL PEDIDO
                    </h2>   
                  </div>                                   
                </ion-row>     
          </div>
        </div>
  
        <div *ngIf="juegos" style="height: 100%;">
        <!-- <div *ngIf="juegos && !this.fs.usuario.juegoJugado" style="height: 100%;"> -->
          <div style="height: 100%;" align="center">               
                <ion-row style="flex-grow: 1; height: 33%; background-color: orange;">
                  <div style="width: 100%;height: 100%;"  (click)="mostrarJuego(1)">
                    <h2 style="width: 100%;height: 100%;margin-top: 50%;font-weight: bold;" align="center">
                      TA-TE-TI
                    </h2>     
                  </div>                                 
                </ion-row>
                <ion-row style="flex-grow: 1; height: 33%; background-color: orange;">
                  <div style="width: 100%;height: 100%;" (click)="mostrarJuego(2)">
                    <h2 style="width: 100%;height: 100%;margin-top: 50%;font-weight: bold;color: white;" align="center">
                      PIEDRA-PAPEL-TIJERA
                    </h2>   
                  </div>                                   
                </ion-row>     
                <ion-row style="flex-grow: 1; height: 33%; background-color: orange;">
                  <div style="width: 100%;height: 100%;" (click)="mostrarJuego(3)">
                    <h2 style="width: 100%;height: 100%;margin-top: 50%;font-weight: bold;color: white;" align="center">
                      APROXIMA2
                    </h2>   
                  </div>                                   
                </ion-row>     
          </div>
        </div>
        
              
        <div *ngIf="this.tateti || this.ppt || this.aproxima2" style="height: 100%; width: 100%;">
          <app-ta-te-ti *ngIf="this.tateti"></app-ta-te-ti>
          <app-piedra-papel-tijera *ngIf="this.ppt"></app-piedra-papel-tijera>
          <app-aproxima2 *ngIf="this.aproxima2" (terminadoEvent)="terminar($event)"></app-aproxima2>
        </div> 
  
        <div *ngIf='estadoPedido'>
          <!-- <div *ngIf='mesaAsignada && this.usuarioActual.mesa == ""'></div> -->
          <ion-grid style="display: flex; flex-flow: column;position: center;">
            <ion-row style="flex-grow: 1;">
              <ion-col>
                <label style="margin-bottom: 120px;font-size: 50px;">Su pedido está en</label>  
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="width: 100%; margin-top: 15%;"> 
                <label style="margin-bottom: 120px;margin-top: 120px; font-size: 80px;">{{usuarioPedido.estado}}</label>                                      
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="width: 70%;" *ngIf='this.usuarioPedido.estado != "entregado"'> 
                <ion-button expand="block" size="large" color="light" (click)="mostrarMenu()" style="--padding-top: 5%; --padding-bottom: 5%;">Escanear QR de la Mesa</ion-button>                                        
              </ion-col>
              <ion-col style="width: 70%;" *ngIf='this.usuarioPedido.estado == "entregado"'> 
                <ion-button expand="block" size="large" color="light" (click)="confirmarEntrega()" style="--padding-top: 5%; --padding-bottom: 5%;">Confirmar Entrega</ion-button>                                        
              </ion-col>
            </ion-row>
          </ion-grid>  
        </div>
  
        <div *ngIf="this.encuesta" style="height: 100%; width: 100%;">
          <app-encuesta-cliente (volverEvent)="volverAtras($event)"></app-encuesta-cliente>
        </div> 
  </div>
</ion-content>
