<ion-app style="overflow: hidden;">
  <ion-content>
      <div class="fondo">
      <div align="center" style="padding: 15px;">
        <ion-grid style="display: flex; flex-flow: column;">
          <ion-row style="flex-grow: 1;">
            <ion-col style=" width: 70%;">
              <div style="padding-left: 2%; padding-right: 2%; margin-bottom: 25px; margin-top: 10%; width: 100%;">
                <ion-button mat-button [matMenuTriggerFor]="empleado" fill="clear" style=" width: 100%; border-radius: 5px; background-color: #8D2CE2; color: white;">Empleado</ion-button>
                <mat-menu #empleado="matMenu" class="customize">
                  <button  mat-menu-item style="color: white;" (click)="cargarDatos(3)">Metre</button>
                  <button  mat-menu-item style="color: white;" (click)="cargarDatos(1)">Mozo</button>
                  <button  mat-menu-item style="color: white;" (click)="cargarDatos(2)">Cocinero</button>
                  <button  mat-menu-item style="color: white;" (click)="cargarDatos(4)">Bartender</button>
                </mat-menu>
              </div>
            </ion-col>
            <ion-col style=" width: 30%;">
              <div style="padding-left: 2%; padding-right: 2%; margin-bottom: 25px; margin-top: 10%;  width: 100%;">
                <ion-button mat-button [matMenuTriggerFor]="cliente" fill="clear" style=" width: 100%; border-radius: 5px; background-color: #8D2CE2; color: white;">Cliente</ion-button>
                <mat-menu #cliente="matMenu" class="customize">
                  <button  mat-menu-item style="color: white;" (click)="cargarDatos(5)">Registrado</button>
                  <button  mat-menu-item style="color: white;" (click)="cargarDatos(6)">Anónimo</button>
                </mat-menu>
              </div>
              
            </ion-col>
          </ion-row>
        </ion-grid>


        <div style="margin-top: 10%;">
          <form [formGroup]='form' (ngSubmit)="this.login()">
            <ion-item class="items" style="--border-radius: 6px; margin-top: 25px; padding-left: 3%; padding-right: 3%;">
              <ion-label color="light">Correo: </ion-label>
              <ion-input type="email" placeholder="Correo" formControlName='email' name="email" required color="light"></ion-input>
            </ion-item>
              <div style="margin-bottom: 5%;">
                <small class="invalid" *ngIf="form.controls.email.errors?.required && form.controls.email.touched">El correo es requerido</small>
                <small class="invalid" *ngIf="form.controls.email.errors?.email">No es un correo válido</small>
              </div>


            <ion-item class="items" style="margin-top: 15%; --border-radius: 6px; padding-left: 3%; padding-right: 3%;" >
              <ion-label color="light">Contraseña: </ion-label>
              <ion-input type="password" placeholder="Contraseña" formControlName='password' name="password" required color="light"></ion-input>
            </ion-item>
              <small class="invalid" *ngIf="form.controls.password.errors?.required && form.controls.password.touched">La contraseña es requerida</small>
              <small class="invalid" *ngIf="form.controls.password.errors?.minlength">La contraseña debe tener 6 caracteres o más</small>
            
          </form>   
 
    
            
            <img src="../../assets/Spinner.png" width="250px" height="250px" [ngClass]="{'loading' : this.as.loading}"/>
            
            <!--

              <ion-row style="text-align: center; margin-bottom: 5%; margin-top: 5%;">
                <ion-col>
                  <ion-button fill="outline" (click)='cargarDatos(3)' style="--border-radius: 5px; --border-color: #FDD304; color: white;">Administrador</ion-button>  
                </ion-col>         
                <ion-col>
                  <ion-button fill="outline" (click)='cargarDatos(1)' style="--border-radius: 5px; --border-color: #FDD304; color: white;">Anónimo</ion-button>              
                </ion-col>
                <ion-col>         
                  <ion-button fill="outline" (click)='cargarDatos(2)' style="--border-radius: 5px; --border-color: #FDD304; color: white;">Casual</ion-button>     
                </ion-col>
                
              </ion-row>
            -->
            <ion-grid style="display: flex; flex-flow: column;">
              <ion-row style="flex-grow: 1;">
                <ion-col style="width: 70%;">
                  <div style="padding-left: 2%; padding-right: 2%; margin-bottom: 25px; margin-top: 5%; width: 100%;">
                    <ion-button fill="clear" style=" width: 100%; border-radius: 5px; background-color: black; color: white;" (click)="cargarDatos(7)">Dueño</ion-button>
                  </div>
                </ion-col>
                <ion-col style="width: 30%;">
                  <div style="padding-left: 2%; padding-right: 2%; margin-bottom: 25px; margin-top: 5%; width: 100%;">
                    <ion-button fill="clear" style=" width: 100%; border-radius: 5px; background-color: black; color: white;" (click)="cargarDatos(8)">Supervisor</ion-button>
                  </div>              
                </ion-col>
              </ion-row>
            </ion-grid>

            
                  <div style="padding-left: 2%; padding-right: 2%; margin-bottom: 16px; margin-top: 5%; width: 100%;">
                    <ion-button fill="clear" expand="block" [disabled]='form.invalid' (click)="login()" style=" width: 100%;border-radius: 5px; background-color: #8D2CE2; color: white;">
                          <ion-text>Iniciar Sesión</ion-text>
                    </ion-button>
                </div>
 
            
         
        </div>
    
      </div>
    </div>
    </ion-content>
</ion-app>


