<ion-content>
  <div class="card" *ngFor="let item of this.arrayClientes">
    <div class="image">
      <img src="{{item.foto}}" alt="" style="border-radius: 10px;" width="130px" height="140px">
    </div>
    <div class="content">
      <h2>{{item.nombre}} {{item.apellido}}</h2>
      <p>{{item.dni}}</p>
      <button>test</button>
      <button>test2</button>
    </div>
  </div>
  <!-- <ion-card>
    <img src="{{item.foto}}" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{item.nombre}} {{item.apellido}}</h2>
      <p>{{item.dni}}</p>
      <button>test</button>
      <button>test2</button>
    </ion-card-content>
  </ion-card> -->
</ion-content>
