<ion-content>
  <div>
    <div *ngFor="let item of this.arrayCompleto" style="padding-left: 2%; padding-right: 2%; margin-bottom: 15px;">
      <ion-card color="dark">
       <img src="{{item.foto}}" />
       <ion-card-header>
         <ion-card-title>{{item.nombre}} - {{item.apellido}}</ion-card-title>
         <ion-card-subtitle>Dni: {{item.DNI}}</ion-card-subtitle>
       </ion-card-header>
       <ion-card-content>
         <button mat-raised-button style="background-color: #8d2ce2 ; color: white;">Graficos</button>
         <button mat-raised-button style="background-color: #8d2ce2 ; margin-left: 15px; color: white;">Realizar encuesta</button>
       </ion-card-content>
     </ion-card> 
   </div> 
  </div>
</ion-content>