<ion-content>
  <img src="../../assets/Spinner.png" style="display: block; position: absolute;margin-top: 50%; z-index: 101;" [ngClass]="{'loading' : this.as.loading}" *ngIf="this.as.loading"/>
  <div style="margin-top: 5%; padding-left: 2%; padding-right: 2%;" align="center">
    <form [formGroup]='form' (ngSubmit)="this.agregarCliente()">
      <div style=" padding-left: 2%; padding-right: 2%; margin-top: 15%;">

        <div align="start" style="margin-left: 5%; margin-top: 5%;">
          <ion-label color="dark" style="font-size: 20px;">¿Recibio un trato educado? (1-10)
          </ion-label>         
        </div>
        <ion-range min="1" max="10" pin color="dark">
          <ion-icon slot="start" size="small" name="thumbs-up-outline"></ion-icon>
          <ion-icon slot="end" name="thumbs-down-outline"></ion-icon>
        </ion-range>
      </div>

      <div style="margin-top: 10%;"> 
              <div align="start" style="margin-left: 5%; margin-bottom: 5%;">
                <ion-label color="dark" style="font-size: 20px;">La comida fue entregada a tiempo?
              </ion-label>        
              </div>
              <ion-item class="items" style="--border-radius: 6px; margin-top: 15px; padding-left: 3%; padding-right: 3%;">   
                <ion-input color="light" placeholder="Si/No" formControlName='apellido' name="apellido" required></ion-input>
              </ion-item>
      </div>

      <div style="margin-top: 10%;">
        <div align="start" style="margin-left: 5%; margin-bottom: 5%;">
          <ion-label color="dark" style="font-size: 20px; text-align: justify;">cuanto cuido la higiene del establecimiento? 
        </ion-label>        
        </div>
        <div align="start">
          <mat-radio-group aria-label="Select an option" style="margin-left: 5%; margin-bottom: 5%;">
            <mat-radio-button value="1" style="margin-right: 15px;"color="accent">Poco</mat-radio-button>
            <mat-radio-button value="2" style="margin-right: 15px;"color="accent">Mas o menos</mat-radio-button>
            <mat-radio-button value="2" color="accent">Mucho</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


      <div style="margin-left: 5%; margin-top: 5%; margin-top: 15%;">
        <div align="start" style="margin-left: 5%; margin-bottom: 5%;">
          <ion-label color="dark" style="font-size: 20px;">Le haria cambios a la carta?  
        </ion-label>        
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div align="start">
                <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
                <ion-label><span style="font-size: 19px; margin-left: 15px;">1</span></ion-label>
              </div>
              
            </ion-col>
            <ion-col>
              <div align="start">
                <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
                <ion-label><span style="font-size: 19px; margin-left: 15px;">2</span></ion-label>
              </div>
            </ion-col>
            <ion-col>
              <div align="start">
                <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
                <ion-label><span style="font-size: 15px; margin-left: 15px;">mas de 3</span></ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div style="padding-left: 2%; padding-right: 2%;margin-top: 5%; width: 100%;">
        <div align="start" style="margin-left: 5%; margin-bottom: 2%;">
          <ion-label color="dark" style="font-size: 20px;">En que podriamos mejorar, Restaurante o Bar?  
        </ion-label>        
        </div>
        <ion-button mat-button [matMenuTriggerFor]="empleado" fill="clear" style=" padding-left: 2%; padding-right: 2%;width: 100%; border-radius: 5px; background-color: #8500fa; color: white;">Elegir</ion-button>
        <mat-menu #empleado="matMenu" class="customize">
          <button  mat-menu-item style="color: dark;" (click)="cargarDatos(3)">Resto</button>
          <button  mat-menu-item style="color: dark;" (click)="cargarDatos(1)">Bar</button>
          <button  mat-menu-item style="color: dark;" (click)="cargarDatos(2)">Ninguna</button>
        </mat-menu>
      </div>
    </form>

    <div align="center" style="margin-top: 3%; padding-left: 2%; padding-right: 2%">       
      <ion-button fill="clear" expand="block" [disabled]='!fotoSubida' style="border-radius: 5px; background-color: #8D2CE2; color: white;" (click)="altaDuenSup()">Enviar encuesta</ion-button>
    </div>
  </div>
</ion-content>
