<ion-header>
  <ion-toolbar>
    <ion-title>VALOR DEL CARRITO: ${{precioCarrito}}</ion-title>
    <ion-title>Tiempo estimado: {{tiempoEstimado}} minutos</ion-title>
  </ion-toolbar>
</ion-header>
  <div class="fondo">
    <img src="../../assets/Spinner.png" style="display: block; position: absolute;margin-top: 50%; z-index: 101;" [ngClass]="{'loading' : this.loading}" *ngIf="this.loading"/>
    <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="realizarPedido()" style="margin-top: 10%;">
      <ion-fab-button color="custom">
        <ion-icon name="checkmark-done-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div class="container" style="margin-top: 2%; padding-left: 2%; padding-right: 2%;">
      <ion-grid style="display: flex;">
        <ion-row style="flex-grow: 1;">
          <ion-col size=6 *ngFor="let item of this.productosArray">
            <ion-card style="background-color: #000000bb;">
                <ion-slides class="img" style="margin-top: 15px">
                  <ion-slide>
                    
                      <img [src]="item.foto1" />
                    
                  </ion-slide>
        
                  <ion-slide>
                    <img  [src]="item.foto2"  />
                  </ion-slide>
        
                  <ion-slide>
                    <img  [src]="item.foto3"/>
                  </ion-slide>
                </ion-slides>
                <ion-card-header align="center">
                  <ion-card-title style="font-size:20px; color: black; background-color: rgba(245, 222, 179, 0.555); border-radius: 10px;">{{item.nombre}}</ion-card-title>
                </ion-card-header>
                <ion-card-subtitle align="center"  style="color: black; background-color: rgba(245, 222, 179, 0.555);">
                  <ion-grid style="background-color: rgba(245, 222, 179, 0.555)">
                    <ion-row style="height: 100%">
                      <ion-col align="center" >{{item.descripcion}}</ion-col>
                    </ion-row>
                    <ion-row style="height: 100%">
                      <ion-col align="center" >${{item.precio}}</ion-col>
                    </ion-row>
                    <ion-row style="height: 100%">
                      <ion-col align="center" >Demora {{item.tiempoPromedio}} min</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-subtitle>
                
                <ion-card-content>
                  <ion-grid style="background-color: rgba(245, 222, 179, 0.555); border-radius: 10px;">
                    <ion-row style="height: 100%">
                      <ion-col align="center" ><button style="height: 100%; width:100%; background-color: #8D2CE2; border-radius: 15px;" (click)="quitarProductoCarrito(item)">-</button></ion-col>
                      <ion-col align="center" ><p style="color: black;" >{{item.cantidad}}</p></ion-col>
                      <ion-col align="center" ><button style="height: 100%; width:100%; background-color: #8D2CE2; border-radius: 15px;" (click)="cargarCarrito(item)">+</button></ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>



