<ion-header>
  <ion-toolbar align="center">
    <ion-title>Encuesta de Empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../assets/Spinner.png" style="display: block; position: absolute;margin-top: 50%; z-index: 101;" [ngClass]="{'loading' : this.as.loading}" *ngIf="this.as.loading"/>
  <ion-progress-bar color="tertiary" [value]="progreso"></ion-progress-bar>

  <div style="width: 100%;height: 100%;">
    <ion-grid style="height: auto;width: 100%; flex-flow: column;" >

      <ion-row style="flex-grow: 1;">
        <ion-col>    
            <app-pregunta1 *ngIf="pregunta_1" (respuesta1)="funCapRespuesta1($event)"></app-pregunta1> 
            <app-pregunta2 *ngIf="pregunta_2" (respuesta2)="funCapRespuesta2($event)"></app-pregunta2>               
            <app-pregunta3 *ngIf="pregunta_3" (respuesta3)="funCapRespuesta3($event)"></app-pregunta3>
            <app-pregunta4 *ngIf="pregunta_4" (respuesta4)="funCapRespuesta4($event)"></app-pregunta4>   
            <app-pregunta5 *ngIf="pregunta_5" (respuesta5)="funCapRespuesta5($event)"></app-pregunta5>  
        </ion-col>
      </ion-row>

      <ion-row style="flex-grow: 1;">
        <ion-col>    
          <ion-button *ngIf="!pregunta_5" fill="clear" expand="block" style="border-radius: 5px; background-color: #8D2CE2; color: white; height: 45px;font-size: 20px;" (click)="onSiguientePregunta()">
            Siguiente Pregunta
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button> 
        </ion-col>
      </ion-row>

      <ion-row style="flex-grow: 1;">
        <ion-col>    
          <ion-button *ngIf="!pregunta_1" fill="clear" expand="block" style="border-radius: 5px; background-color: #8D2CE2; color: white; height: 45px;font-size: 20px;" (click)="onAnteriorPregunta()">
            <ion-icon name="arrow-back"></ion-icon>
            Anterior Pregunta
          </ion-button> 
        </ion-col>
      </ion-row>

      <ion-row style="flex-grow: 1;">
        <ion-col>    
          <ion-button *ngIf="pregunta_5" fill="clear" expand="block" style="border-radius: 5px; background-color: #8D2CE2; color: white; height: 45px;font-size: 20px;" (click)="onEnviarRespuestas()">
            <ion-icon name="cloud-upload-outline" style="margin-right: 15px;"></ion-icon>
            Enviar Encuesta
          </ion-button> 
        </ion-col>
      </ion-row>

    </ion-grid>    
  </div>    
</ion-content>
