ion-content {    
    //--background: rgb(0,0,0);
    //--background: linear-gradient(180deg, rgba(0,0,0,1) 23%, rgba(168,168,168,1) 80%, rgba(198,198,198,1) 100%);
    --background: transparent !important;

    background-image: url('../../../assets/img/backgroundEncuesta.jpg');    
    background-repeat: no-repeat;
	background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;

    --overflow: hidden;
}

:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

.items {
    --background: #fffefffd;
    position: relative;
}

.loading {
    animation: rotate 1.5s linear infinite; 
    //animation: myAnim 1s ease 0s 1 normal both;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    20% {
        transform: rotate(25deg)
    }
    99% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}